:root {
    /* Colors */
    --main-theme-bg: #f3f3f3;
    --main-theme-text: #21243d;
  
    --main-theme-dark: #01010a;
  
    --sec-theme-text: #00a8cc;
    --post-bg: #afdce9;
  
    --btn-bg: #ff6464;
    --btn-sec-bg: #142850;
}

  .logo{

    padding-left: 6rem;
    font-size: 30px;
    font-weight: bolder;
    color: red;
    font-family: 'Heebo', sans-serif;

}
nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   
}

ul{

    list-style-type: none;
}

ul, li, a {
   
    text-decoration: none;
    color:var(--main-theme-dark);
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
    
}

ul, li{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-right: 20px; 
}

/*HERO SECTION*/

.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.hero-button{
    color:var(--main-theme-bg);
    padding: 10px 20px;
    background-color: var(--btn-bg);
    border-radius: 5px;
    font-family: 'Heebo', sans-serif;
}
.hero-intro{
    padding-left: 6rem;
    padding-top: 0.6rem;
    font-family: 'Heebo', sans-serif;


}
.hero-image{
    padding-right: 6rem;
    padding-top: 0.6rem;
}

/*SECTION 1*/
section{
    padding-top: 0.6rem;
}
.post-section{
    background-color: #EDF7FA;
    padding-bottom: 20px;
    margin-top: 30px;
    height: 300px;
    
}

.post-1,.post-2{
    height: 200px;
    width: 600px;
    background-color: var(--main-theme-bg);
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Heebo', sans-serif;

}
.post-content{
    
    display:flex;
    align-items: center;
    justify-content: space-around;
    gap: 200px; 
    padding-left: 6rem;
    padding-right:6rem;  

}
.top-post{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 10px;
}
.top-post span:first-child {
    padding-left: 95px;
    font-family: 'Heebo', sans-serif;
    font-size: 17px;
    


    
}
.top-post span:nth-child(2){
    padding-right: 95px;
    color:#00A8CC;
    font-family: 'Heebo', sans-serif;
    font-size: 14px;

}
.featured-dashboard{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding-bottom: 30px;
}
.featured-works{
    padding-left: 6rem;
    padding-right: 6rem;
    font-family: 'Heebo', sans-serif;

}
#btn-1{
    color: white;
    background-color: var(--btn-sec-bg);
    border-radius: 20%;
}
h2{
    color: #21243D;
}
#dash{
    opacity: 0.4;
    padding-left: 30px;
}
.featured-works p:first-child{
    font-family: 'Heebo', sans-serif;
    font-weight: medium;
    font-size: 16px;
    color: #21243D;
   
}

footer{
    padding-top: 6rem;
}

.social-icons{
    text-align: center;
    font-size: 30px;
    letter-spacing: 10px;

}
#copyright{
    text-align: center;
    font-family: 'Heebo', sans-serif;

}

@media only screen and (max-width: 768px){
    .logo{
        padding-left: 20px;
        font-size: 20px;
    
    }
    ul{
        display: none;
    }
    .image-1{
        padding:0;
        margin-top:30px;
    }
    .hero-intro{
        padding:0;
        margin-top:30px;
        font-family: 'Heebo', sans-serif;
        text-align: center;
        width: 100%;
    
    }
    h1{
        font-size: 20px;
        text-align: center;
        font-family: 'Heebo', sans-serif;
    }
    .hero-section{
        display: flex;
        flex-direction: column-reverse; 
        align-items: center; 
    }
    .hero-image{
        padding:0;
    }
    #amet{
        font-family: 'Heebo', sans-serif;
        font-size: 12px;

    }
    .hero-button{
        color:var(--main-theme-bg);
        padding: 5px 10px;
        background-color: var(--btn-bg);
        border-radius: 2px;
        font-family: 'Heebo', sans-serif; 
        margin-top:20px;

    }
    .top-post{
        margin-left: auto;
        margin-right:auto;
        padding-left:50px;
        
    }
    .top-post span:nth-child(2) {
        display: none;
    }
    .post-content{
        display:flex;
        align-items: center;
        flex-direction: column;  
        gap:20px;
        padding: 0;
        
        
    }
    
    .post-1,.post-2{
        height: 300px;
        width: 80%;
        margin: 30px;
        padding-left:30px;
        background-color: var(--main-theme-bg);
        font-family: 'Heebo', sans-serif;
    }

   
    
   #recent{
    text-align: center;
   }
    .featured-dashboard{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
        margin:0;
    }
    .featured-works{
        padding:0;
        margin-left:20px;
        margin-right:20px;
        font-family: 'Heebo', sans-serif;
        height:100%
    
    }
    .feature-image{
        width:100%;
        height: 400px;
    }
    #featured-statement{
        width:100%;
    }
    #dash{
        opacity: 0.4;
        padding-left: 10px;
    }
    .social-icons{
        text-align: center;
    }
    footer{
        padding:0;
        margin: 0;
    }
    
    .social-icons{
        text-align: center;
        font-size: 30px;
        letter-spacing: 10px;
    
    }
    #copyright{
        text-align: center;
        font-family: 'Heebo', sans-serif;
        font-size: 10px;
    
    }
    *{
        overflow-x: hidden;
    }
}

    /* MEDIA QUERY FOR TABS*/

    @media only screen and (min-width:767px) and (max-width:991px){
        .logo{
            padding-left: 20px;
            font-size: 20px;
        
        }
        ul{
            display: none;
        }
        .image-1{
            padding:0;
            margin-top:30px;
        }
        .hero-intro{
            padding:0;
            margin-top:30px;
            font-family: 'Heebo', sans-serif;
            text-align: center;
            width: 100%;
        
        }
        
        .hero-section{
            display: flex;
            flex-direction: column-reverse; 
            align-items: center; 
        }
        .hero-image{
            padding:0;
        }
        #amet{
            font-family: 'Heebo', sans-serif;
            font-size: 12px;
    
        }
        .hero-button{
            color:var(--main-theme-bg);
            padding: 5px 10px;
            background-color: var(--btn-bg);
            border-radius: 2px;
            font-family: 'Heebo', sans-serif; 
            margin-top:20px;
    
        }
      
        .top-post span:nth-child(2) {
            display: none;
        }
        #amet{
            font-size: 25px;
        }
        
        .post-content{
            display:flex;
            align-items: center;
            flex-direction: column;  
            gap:20px;
            padding: 0;
            
            
        }
        
        .post-1,.post-2{
            height: 250px;
            width: 80%;
            margin: 30px;
            padding-left:30px;
            background-color: var(--main-theme-bg);
            font-family: 'Heebo', sans-serif;
        }
        .top-post{
            padding-left: 50px;
            margin-left: auto;
            margin-right: auto;

        }
    
       
        
       #recent{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
       }
        .featured-dashboard{
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 0;
            margin:0;
        }
        .featured-works{
            padding:0;
            margin-left:20px;
            margin-right:20px;
            font-family: 'Heebo', sans-serif;
            height:100%
        
        }
        .featured-works p:first-child{
            font-family: 'Heebo', sans-serif;
            font-weight: medium;
            font-size: 25px;
            color: #21243D;
           
        }
        .top-post span:first-child {
            padding-left:10px;
            font-family: 'Heebo', sans-serif;
            font-size: 25px; 
        }
        .feature-image{
            width:100%;
            height: 400px;
        }
        #featured-statement{
            width:100%;
            font-size: 25px;
        }
        #dash{
            opacity: 0.4;
            padding-left: 10px;
        }
        .social-icons{
            text-align: center;
        }
        footer{
            padding-top:20px;
            margin: 0;
        }
        
        .social-icons{
            text-align: center;
            font-size: 30px;
            letter-spacing: 10px;
        
        }
        #copyright{
            text-align: center;
            font-family: 'Heebo', sans-serif;
            font-size: 25px;

        
        }
        .post-statement{
            width:100%;
            font-size: 25px;
            font-family: 'Heebo', sans-serif;
            
        }
        *{
            overflow-x: hidden;
        }
    

    
    
   
   
   

    


   



    

    



}






